
 <div class="col-md-6">

     <div class="wrapper">
  <div class="card2 mb-4 shadow" data-id= "<%= portfolio_item.id %>" >
    <div class="front">
      <p class="para price"><%=portfolio_item.title %></p>
    </div>
    <div class="right">
      <h1 class="heading"><%=portfolio_item.subtitle %></h1>
      <p class="price_tech">Technologies</p>

      <ul>
       <% portfolio_item.technologies.each do |t| %>
        <li><%= t.name %></li>
    
       <% end %>
      </ul>
      
      <button><%= link_to portfolio_item.title, portfolio_show_path(portfolio_item) %></button>
      <%= link_to "Edit", edit_portfolio_path(portfolio_item.id),class: "btn btn-warning" if logged_in?(:site_admin)  %>
<%= link_to 'Delete', portfolio_path(portfolio_item.id), method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-warning" if logged_in?(:site_admin)  %>
    </div>
  </div>
  <div class="img-wrapper">
       <%= image_tag portfolio_img(portfolio_item.thumb_image.url, 'thumb'), style: "width:340px; height:240px;", class: "img" %>    
  </div>
</div>
        </div>




