<div class = "container portfolio-container">
  <div class = "row">


   
    <div class="col-md-12">

      <%= source_helper("alert alert-warning") %>
       <nav class="breadcrumb", style= "background-color:  #778899 ">
    <%= link_to "Home", root_path, class: 'breadcrumb-item' %>

    <%= link_to "Portfolios" , portfolios_path(@portfolio_item), class: "breadcrumb-item" %>

    <span class="breadcrumb-item active", style="color:white;"><%= @portfolio_item.title %></span>

   
  </nav>

  <h1 class = "shadow" style="text-transform: uppercase;text-align: center;margin-top: 20px;"><%= @portfolio_item.title %></h1>

     <%= image_tag portfolio_img(@portfolio_item.main_image.to_s, 'main'), width: '100%' %>
    </div>



    <div class="col-md-12" id="show_portfolio">
      <hr>
<h3 style="text-align: center;"><%= @portfolio_item.subtitle %></h3>
<p><%= @portfolio_item.body %></p>
<hr>
<div class="shadow" style="text-align: center; margin-bottom: 30px; padding-bottom: 30px">
<h2>Technologies</h2>
<% @portfolio_item.technologies.each do |t| %>

<li class="btn btn-info"><%= t.name %></li>

<% end %>
</div>
<% if logged_in?(:site_admin) %>
<div class ="">
  <%= link_to "Edit Item" , edit_portfolio_path(@portfolio_item), class: "btn btn-warning" %>
</div>
<% end %>
    </div>
  </div>
</div>

