 <nav class="navbar navbar-expand-lg navbar-light fixed-top" style = "background-color:white;">
    <div class="container">
    <h2 class="navbar-brand brand-name">
    <a href="/" class="pull-left"><img        
    src="/assets/logo.png" style = "height:80px;width:100px"></a>
</h2>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" style = "border:none;">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto center">
     
            <%= link_to "Home", root_path , class: "nav-link"%>
          
        
            <%= link_to "About", aboutme_path, class: "nav-link" %>
          
          
            <%= link_to "Contact", contact_path, class: "nav-link" %>
          
        
            <%= link_to "Blogs", blogs_path , class: "nav-link"%>
          
          
            <%= link_to "Portfolio", portfolios_path , class: "nav-link"%>
          

        
            <%= login_helper "nav-link"%>
          
        </ul>
      </div>
    </div>
  </nav>
  