
  <nav class="navbar navbar-expand fixed-top" style = "background-color:white;">
  <h2 class="navbar-brand">
  <a href="/"><img        
  src="/assets/logo.png" style = "height:80px;width:100px"></a>
</h2>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExample02">
    <ul class="navbar-nav mr-auto">
     
    <%= link_to "Home", root_path , class: "nav-link"%>
          
        
    <%= link_to "About", aboutme_path, class: "nav-link" %>
  
  
    <%= link_to "Contact", contact_path, class: "nav-link" %>
  

    <%= link_to "Blogs", blogs_path , class: "nav-link"%>
  
  
    <%= link_to "Portfolio", portfolios_path , class: "nav-link"%>
  


    <%= login_helper "nav-link"%>
    </ul>
    
  </div>
</nav>