<div class="col-md-4" id="cardFix">

        <!-- Categories Widget -->
        <div class="card my-4" style = "border-style: none">
          <h5 class="card-header">Categories</h5>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <a href="#">Web Design</a>
                  </li>
                  <li class="list-group-item">
                    <a href="#">HTML</a>
                  </li>
                  <li class="list-group-item">
                    <a href="#">Freebies</a>
                  </li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <a href="#">JavaScript</a>
                  </li>
                  <li class="list-group-item">
                    <a href="#">CSS</a>
                  </li>
                  <li class="list-group-item">
                    <a href="#">Tutorials</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <!-- Side Widget -->
        <div class="card my-4" id = "card1">
  <div class="image-crop">
    <img id="avatar" src="assets/profile.jpg"></img>
  </div>
  <div class="card-body" id="bio">
    <p>Hello, my name is John! Bacon ipsum dolor amet short ribs prosciutto strip steak, pig ham tongue buffalo beef ribs hamburger pork venison. <a href="#">know me more</a></p>
  </div>
  

</div>



        <div class="card my-4", style="border-style: none">
          <ol class="list-unstyled social-links">
            <li><a href="#">
                <span class="fa-stack fa-2x">
                  <%= fa_icon "circle",style: "color:#FF4500" , class: "fa-stack-2x" %>
                  
                  <%= fa_icon "github"   , class: "fa-stack-1x fa-inverse"%>
                </span>
                
              </a></li>
            <li><a href="#">
                 <span class="fa-stack fa-2x">
                  <%= fa_icon "circle",style: "color:#0073b2" ,class: "fa-stack-2x" %>
                  
                  <%= fa_icon "linkedin" , class: "fa-stack-1x fa-inverse"%>
                </span>
       
              </a></li>
            <li><a href="#">
                <span class="fa-stack fa-2x">
                  <%= fa_icon "circle", class: "fa-stack-2x", style: "color:#3b5998" %>
                  
                  <%= fa_icon "facebook" , class: "fa-stack-1x fa-inverse"%>
                </span>
              </a></li>
            <li><a href="#">
                <span class="fa-stack fa-2x">
                  <%= fa_icon "circle", class: "fa-stack-2x", style: "color:#e4405f" %>
                  
                  <%= fa_icon "instagram" , class: "fa-stack-1x fa-inverse"%>
                </span>
              </a></li>

          </ol>
          
        </div>

      </div>






   