

<div class="about-us" id="startchange">
    <div class="container-fluid">
     <div class = "container">
            <div class="row" style="margin-top: 3%; margin-bottom: 3%">
              <div class="col-md-6" >
                <div class="card animated bounceInLeft" style="border-style: none; ">


                  <a href="#" class="photo">
                  <img src="/assets/profile.jpg">
    
    <div class="glow-wrap">
    <i class="glow"></i>
  </div>
</a>
    </div>              <!-- <div class="img" style="background-image: url(/assets/profile.jpg); "></div>
                </div> -->

              </div>

             

              <div class="col-md-6">
                <div class="card animated bounceInRight" style="border-style: none; ">
                 <div class="card-body" id="about_me">
    <p>My name is Mahak Singh and I recently graduated from Northeastern University, Boston with Master's degree in Information Systems. Determined and quick-learning Software Engineer with experience in various full-stack technologies such as MERN stack, MEAN stack, Spring MVC, Ruby on Rails with good knowledge of data structures, algorithms, and object-oriented designs. I am confident with my programming skills in Java, Python and SQL/NoSQL. I also have experience with developing IOS applications using Swift. Also familiar with Containerization, Kubernetes, CICD, and AWS cloud. I am enthusiastic about working with extremely talented people and collaborating with them to make products/services that can reach large audiences seamlessly. .
    </p>
  </div>
                </div>

              </div>
            </div>
          </div>
    </div>
  </div>

   <div class="break2 text-center" style="background-image:linear-gradient(rgb(0,0,0,0.4),rgb(0,0,0,0.4)), url(/assets/office4.jpg);">
    <p>Know more about my professional skills and experience. And if you like my work don't hesitate to contact me! </p>
    <p> <a href="/assets/MahakSingh__Resume_.pdf" download="MahakSingh__Resume_.pdf"class="team">Download Resume</a></p>
  </div>
  <div>
  <div class="row" style="padding-bottom: 40px;">
       <div class="col-md-12">
         
    <div class="container">
      
      
      <div class="row">
        <div class="col-lg-3 col-md-6 text-center">
          <div class="mt-5">
            <%= fa_icon "user"   , class: "fas fa-4x fa-gem text-primary mb-4"%>
            
            <h3 class="h4 mb-2">Hard Working</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="mt-5">
            <%= fa_icon "calendar" ,class: "fas fa-4x fa-gem text-primary mb-4"%>
            <h3 class="h4 mb-2">Passionate</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="mt-5">
           <%= fa_icon "laptop"   , class: "fas fa-4x fa-gem text-primary mb-4"%>
            <h3 class="h4 mb-2">Optimistic</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="mt-5">
              <%= fa_icon "bolt"   , class: "fas fa-4x fa-gem text-primary mb-4"%>
            <h3 class="h4 mb-2">Fast Learner</h3>
          </div>
        </div>
      </div>
    </div>
  
</div>

        </div>
</div>
<div class= "row">
<div class="break1 text-center col-xs-12 col-sm-12 col-md-12" style="background-image:linear-gradient(rgb(0,0,0,0.4),rgb(0,0,0,0.4)), url(/assets/blog_background.jpg);">
<h3 class="text-center text-white  ">EXPERIENCE</h3>
</div>
</div>
  <div class="works">
    <a name="works"></a>
    <div class="container-fluid">


        <div class="container">
       
            <div class="row">
                <div class="col-md-12 shadow">
                    <div class="main-timeline9">
                        <div class="timeline">
                            <div class="timeline-content">
                                <div class="circle"><span><i class="fa fa-globe"></i></span></div>
                                <div class="content">
                                    <span class="year">2019</span>
                                    <h4 class="title">Full Stack Developer Intern</h4>
                                    <p class="description">
                                        <h3>Ionic Materials, Boston, MA </h3> 

                                    </p>
                                    <div class="icon"><span></span></div>
                                </div>
                            </div>
                        </div>
                        <div class="timeline">
                            <div class="timeline-content">
                                <div class="circle"><span><i class="fa fa-rocket"></i></span></div>
                                <div class="content">
                                    <span class="year">2015-2017</span>
                                    <h4 class="title">Data Analyst</h4>
                                    <p class="description">
                                        <h3>Abhyudaya Multimedia, Indore , India</h3>
                                   
                                    </p>
                                    <div class="icon"><span></span></div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class= "row">
        <div class="break1 text-center col-xs-12 col-sm-12 col-md-12" style="background-image:linear-gradient(rgb(0,0,0,0.4),rgb(0,0,0,0.4)), url(/assets/office1.jpg);">
        <h3 class="text-center text-white">EDUCATION</h3>
      </div>
      </div>
        <div class="container">
       
            <div class="row">
                <div class="col-md-12 shadow">
                    <div class="main-timeline9">
                        <div class="timeline">
                            <div class="timeline-content">
                                <div class="circle"><span><i class="fa fa-globe"></i></span></div>
                                <div class="content">
                                    <span class="year">2018-2020</span>
                                    <h4 class="title">Master of Science in Information Systems</h4>
                                    <p class="description">
                                        <h3>Northeastern University, Boston, MA </h3>                            


                                    </p>
                                    <div class="icon"><span></span></div>
                                </div>
                            </div>
                        </div>
                        <div class="timeline">
                            <div class="timeline-content">
                                <div class="circle"><span><i class="fa fa-rocket"></i></span></div>
                                <div class="content">
                                    <span class="year">2016</span>
                                    <h4 class="title">Diploma in Advanced Computing</h4>
                                    <p class="description">
                                        <h3>Center for Development of Advanced Computing, Pune , India</h3>
                                    
                                    </p>
                                    <div class="icon"><span></span></div>
                                </div>
                            </div>
                        </div>
                        <div class="timeline">
                            <div class="timeline-content">
                                <div class="circle"><span><i class="fa fa-briefcase"></i></span></div>
                                <div class="content">
                                    <span class="year">2011 - 2015</span>
                                    <h4 class="title">Bachelor of Engineering in Electronics and Communication</h4>
                                    <p class="description">
                                        <h3>Rajiv Gandhi Technical University</h3>
                                    
                                    </p>
                                    <div class="icon"><span></span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
      

      </div>



    </div>
  </div>

  <!----ABOUT US---->

  <!----SERVICES---->
  <div class="works" id="skillchange" >

    
    <div class="container-fluid">

      <div class="row">
        <div class="break1 text-center col-xs-12 col-sm-12 col-md-12" style="background-image:linear-gradient(rgb(0,0,0,0.6),rgb(0,0,0,0.6)), url(/assets/office2.jpeg);">
           <h3 class="text-center text-white ">SKILLS</h3>
        </div>
      </div>

      <div class="row">
       <div class="col-md-12 shadow">
         
    <div class="container">
        

<div class="revealOnScroll" data-animation="flipInX" >
       
        <div class="skills" style="margin-bottom: 40px;">
          <% @skills.each do |skill| %>
            <div class="skill">
              <span class="name"><%= skill.title %></span>
              <div class = "percent">
              <div class="progress"  style="width: <%= skill.percent_utilized %>%">
               
              </div>

            </div>
            <span class="value"><%= skill.percent_utilized %>%</span>
            </div>
          <% end %>
        </div>

      

      </div>
</div>
</div>
</div>
</div>

    </div>
  


 
 



      
     
      
     


      
      
      
      
   


