
 <div>

<div class="row" style = "margin-top:5%;">
  <div class="col-md-6 padding-0" style = "background-color:#296369;">
  <span class="card-notify-badge">Say hello!</span>
  <h4 style = "margin-top:5%;">I am currently looking for full-time opportunities in Software Development. Feel free to reach if you want to work together, have a question or just want to say hi!</h4>
  <i class="fa fa-globe fa-5x mb-3" aria-hidden="true"></i>
  <p><a href="mailto:singh.maha@northeastern.edu?subject=PortfolioContact" "email me"><h3>Email me</h3></a> </p>

    <i class="fa fa-phone fa-5x mb-3" aria-hidden="true"></i>

    <h4>Phone</h4>

    <p><%= number_to_phone "8574723684" %></p>

    <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <ul class="list-inline text-center">
        <li class="list-inline-item">
        <a  target="_blank" href="https://github.com/mahak0712/">
            <span class="fa-stack fa-2x">
              <%= fa_icon "circle",style: "color:#FF4500" , class: "fa-stack-2x" %>
              
              <%= fa_icon "github"   , class: "fa-stack-1x fa-inverse"%>
            </span>
            
          </a>
        </li>
        <li class="list-inline-item">
        <a target="_blank" href="https://www.linkedin.com/in/mahaksingh/">
             <span class="fa-stack fa-2x">
              <%= fa_icon "circle",style: "color:#0073b2" ,class: "fa-stack-2x" %>
              
              <%= fa_icon "linkedin" , class: "fa-stack-1x fa-inverse"%>
            </span>
   
          </a>
        </li>
        <li class="list-inline-item">
        <a target="_blank" href="https://www.facebook.com/mehak.chaudhary.121">
            <span class="fa-stack fa-2x">
              <%= fa_icon "circle", class: "fa-stack-2x", style: "color:#3b5998" %>
              
              <%= fa_icon "facebook" , class: "fa-stack-1x fa-inverse"%>
            </span>
          </a>
        </li>
      </ul>
      <hr>
    </div>
  </div>
  </div>
  

  <div class="col-md-6 padding-0 image">
   <img src="/assets/profile.jpg" width="480" height="620" frameborder="0" style="border:0;" allowfullscreen=""></img>
  </div>
</div>
</div> 












  

       
 
           