
  <section class="jumbotron text-center" style="background-image: url('assets/back.jpeg')" id="portSection">
    <div class="container">
       
    <h1 class="jumbotron-heading" style="color: white">My Portfolio</h1>
    <p class="lead" style="color: white">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
    <p><%= link_to "Create New Portfolio Item", new_portfolio_path , style: "color:black;" if logged_in?(:site_admin) %></p>
    <p>
      <%= link_to 'Find Out More About Me', aboutme_path, class: 'btn btn-primary' %>
      <%= link_to 'My Blog', blogs_path, class: 'btn btn-secondary' %>
    </p>
  </div>
  </section>
  
<%= source_helper("alert alert-warning") %>
  
<div class="album py-5" style="background-color: #87CEEB" >
  
  <div class = "container">

   
   

      <div class="row <%= "sortable" if logged_in?(:site_admin) %>">
        

      <%= render partial: 'portfolio_item', collection: @portfolio_items %>
  
  </div>
 
</div>

</div>

























